.eventViewBox{
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.eventViewBox:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 139, 0.2), 0 6px 20px 0 rgba(0, 0, 139, 0.19);
}

.eventViewTitle{
    color: darkblue;
    font-size: medium;
    font-weight: 600;
}

.eventViewDate{
    color: rgb(109, 109, 109);
    font-size: small;
    font-weight: 500;
}

.eventViewQRBox{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-top: 10px;
}

.eventViewQRClose{
    margin: 10px;
    align-self: flex-end;
    position: absolute;
    top: 0;
    right: 0;
}

.eventViewModal{
    padding: 10px;
    width: 320px;
}

.eventViewModalLabel{
    color: darkblue;
    font-size: medium;
    text-align: left;
    padding: 5px;
    font-weight: 500;
    margin-left: 4px;
}

.eventViewModalInput{
    border: 2px solid grey;
    border-radius: 5px;
    padding: 5px;
}

.eventViewModalClose{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-right: 10px;
    padding-top: 5px;
    padding-left: 10px;
}

.eventViewInfo{
    max-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-align: center;
}

.eventViewInfoBlue{
    margin: 5px;
    color: darkblue;
    font-size: medium;
    font-weight: 600;
}

.eventViewInfoBlack{
    max-width: 200px;
    margin: 5px;
    color: black;
    font-size: medium;
    font-weight: 500;
}

.eventViewInfoRow{
    max-width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.eventViewButton{
    background-color: darkblue;
    font-size: medium;
    padding: 8px;
    border-radius: 12px;
    box-shadow: 2px 2px 2px grey;
    margin: 7px;
    width: 100%;
}

.eventViewButton:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 139, 0.2);
}

.eventViewButtonRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}