.eventsRecordPage{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.eventsRecordTitle{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
    border-bottom: 2px solid darkblue ;
    margin-bottom: 15px;
    width: 100%;
    height: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.eventsRecordAddNew{
    background-color: darkblue;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 12px;
    box-shadow: 2px 2px 2px grey;
    margin: 7px;
    font-size: medium;
    margin-left: auto;
    z-index: 2;
    position: absolute;
    align-self: flex-end;
    right: 10px;
}

.eventsRecordAddNew:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 139, 0.2), 0 6px 20px 0 rgba(0, 0, 139, 0.19);
}

.eventsRecordHeading{
    color: darkblue;
    font-size: larger;
    font-weight: 600;
    margin: 10px;
    width: 100%;
    text-align: center;
}

.eventsRecordHeadRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.eventsRecordAddNewIcon{
    margin-right: 8px;
}

.eventsRecordCreateNew{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 500px){
    .eventsRecordGrid{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        width: 95%;
    }

    .eventsRecordAddNewTitle{
        display: none;
    }

    .eventsRecordAddNewIcon{
        margin: 2px;
    }
}

@media screen and (min-width:501px ) and (max-width: 700px){
    .eventsRecordGrid{
        display: grid;
        grid-template-columns: 49% 49%;
        column-gap: 1%;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }

    .eventsRecordAddNewTitle{
        display: none;
    }

    .eventsRecordAddNewIcon{
        margin: 2px;
    }
}

@media screen and (min-width:701px ) and (max-width: 1100px){
    .eventsRecordGrid{
        display: grid;
        grid-template-columns: 32% 32% 32%;
        column-gap: 1%;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
}

@media screen and (min-width:1101px ) and (max-width: 1400px){
    .eventsRecordGrid{
        display: grid;
        grid-template-columns: 24% 24% 24% 24%;
        column-gap: 1%;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
}

@media screen and (min-width:1401px ){
    .eventsRecordGrid{
        display: grid;
        grid-template-columns: 19% 19% 19% 19% 19%;
        column-gap: 1%;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
}